[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mocket = "==3.9.40"

[packages]
redis = "==3.5.3"
requests = "==2.24.0"
pytest = "==6.2.2"
hiredis = "==1.1.0"
